<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>" class="background-clouds">
        <%= render "/refinery/header" -%>
        <%= render "/refinery/breadcrumbs" -%>
      <section id="page" class="">
        <div class="container">
          <%= yield %>
        </div>
      </section>
      <footer class="background-midnight-blue color-white">
        <%= render "/refinery/footer" -%>
      </footer>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
